[submodule "image-create-tools"]
	path = image-create-tools
	url = https://github.com/LeMaker/image-create-tools.git
[submodule "owl-actions"]
	path = owl-actions
	url = https://github.com/LeMaker/owl-actions.git
